.select{
	font-size: .9rem;
	font-weight: 500;
	color: #9ca3af;
	line-height: 1.3rem;
	padding: .6em 1.4em .5em .8em;
	width: 250px;
	max-width: 100%;
	/* margin: .8rem 0; */
	border: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url('https://img.icons8.com/glyph-neue/64/26e07f/chevron-down.png');
	background-repeat: no-repeat, repeat;
	background-position: right .3em top 50%, 0 0;
	background-size: 1em auto, 100%;
    background-color: var(--white);
}

.selectLong{
	width: 100%;
}
.select::-ms-expand {
	display: none;
}
.select:hover {
	/* border-color: #888; */
    outline: none;
    border: none;

}
.select:focus {
	/* border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222; */
	outline: none;
    border: none;
}
.select option {
	font-weight:normal;
}