.cardCon{
    background-color: var(--white);
    color: var(--black);
    box-shadow: var(--shadow);
    margin: 1rem 0;
    margin-right: .5rem;
    height: 6rem;
    width: 18rem;
    border-radius: 8px;
    transition: all .1s ease-in;
    cursor: pointer;
}

.cardRow{
    display: grid;
    grid-template-columns: 3rem auto;
    align-items: center;
    margin: auto 0;
    padding: .5rem 1rem;
}

.cardIcon{
    padding: 0 .4rem;
}

.cardText{
     padding: 0 .5rem;
}

.cardTitle{
    font-size: 1.2em;
    font-weight: 400;
}

.cardDescription{
    font-size: .75em;
}

@media screen and (max-width: 968px){
    .cardCon{
        width: 8rem;
    }

    .cardDescription{
        display: none;
    } 
    
    .cardRow{
        grid-template-columns: 3rem 3rem;
        grid-template-areas: "icon icon" "text text";
        padding: .5rem 1rem;
    }

    .cardText{
        grid-area: text;
        text-align: center;
        display: flex;
        align-items: center;
        justify-items: center;
    }

    .cardIcon{
        grid-area: icon;
        margin: .2rem auto;
        width: 3rem;
    }

    .cardTitle{
        font-size: 1em;
        font-weight: 400;
    }

}

