.cardCon{
    background-color: var(--white);
    color: var(--black);
    box-shadow: var(--shadow);
    margin: 1rem 0;
    padding: 1rem .5rem;
    margin-right: .5rem;
    width: 100%;
    border-radius: 8px;
    transition: all .1s ease-in;
    cursor: pointer;
}

.cardCon:hover{
    transform: scale(0.98)
}

.cardCon:active{
    transform: scale(0.98)
}

.cardRow{
    display: grid;
    grid-template-columns: 5rem auto;
    align-items: center;
    margin: auto 0;
    padding: .5rem 1rem;
}

.cardIcon{
    /* padding: 0 .4rem; */
}

.cardText{
     padding: 0 .8rem;
}

.cardTitle{
    font-size: 1.75rem;
    font-weight: 400
}

.cardDescription{
    font-size: .75em;
    line-height: 12.5px;
}

@media screen and (max-width: 968px){
    .cardCon{ 
        padding: .8rem .5rem;
    }

    .cardDescription{
        display: none;
    } 
    
    .cardRow{
        grid-template-columns: 3rem auto;
        
    }

    .cardText{
        /* text-align: center; */
        display: flex;
        align-items: center;
        /* justify-items: center; */
    }

    .cardIcon{
        margin: .2rem auto;
        width: 3rem;
    }

    .cardTitle{
        font-size: 1em;
        font-weight: 400;
    }

}

